.Doc-Banner {
    position: relative;
    /*height: 15em;*/
    aspect-ratio: 7;
    width: 100%;
    background-color: darkslategrey;
    /*background: url('') center;
    background-size: cover;*/
}

.Doc-Banner img {
    width: 100%;
    height: 100%;

}